{% extends "base.html" %}
{% block title %}
    <title>Kategorija</title>
{% endblock %}
{% block content %}
    <div class="list-group" id="advertList">
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let parts = window.location.href.split("/");
        parts.pop()
        let tag = parts.pop()
        let list = $("#advertList")[0];
        fetch("https://skelbiameapi.azurewebsites.net/api/tags/" + tag + "/adverts")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                for (advert in data){
                    list.innerHTML +=    '<a href="' + '/site/adverts/' + data[advert]["id"] + '" class="list-group-item list-group-item-action">' + data[advert]["name"] + '</a>'
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
{% endblock %}